doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Cotoron | Code Toronto | Monthly Coding Hackathon
        meta(name="description", content="Cotoron is an experimental coding project started in Toronto with a group of friends. We start a new 30-day sprint project each month and repeat. Check out what we’re building and our journey!")
        link(rel="stylesheet", href="./css/cotoron.min.css?cache="+cachenum) 
    body.b1
        nav.flexcontainer.spaceBetween.b1
            span.logo
                span.c2 C
                span.c2 O
                span.c3 T
                span.c3 O
                span.c3 R
                span.c3 O
                span.c3 N
                span.c4 .
                span.c5 GA
            span.stampcontainer
                h2.stamp.c3 since 2021
            span
                ul
                    each val in ["Code","Project","Team","About"]
                        li
                            a.c3(href='#') #{val}
        div#intro.b1.flexcontainer.justifyCenter
            div.flexcontainer.w75
                h1
                    span.c3 Code 
                    span.c5 + 
                    span.c3 Toronto
                p.c3 Cotoron is an experimental coding project started in Toronto with a group of friends. We start a new 30-day sprint project each month and repeat. Check out what we’re building and our journey!
        div.one
            div.language.c3 html
        div.b2.projects
            span.project.b3
            span.project.b3
            span.project.b3
            span.project.b3
        div.two
            div.language.c4 css
        div.b3.projects
            span.project.b4
            span.project.b4
            span.project.b4
            span.project.b4
        div.three
            div.language.c5 pug
        div.b4.projects
            span.project.b5
            span.project.b5
            span.project.b5
            span.project.b5
        div.four
            div.language.c1 node
        div.b5.projects
            span.project.b1
            span.project.b1
            span.project.b1
            span.project.b1
        div.five
            div.language.c2 yarn
        div.b1.projects
            span.project.b2
            span.project.b2
            span.project.b2
            span.project.b2
