doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Cotoron | Code Toronto | Monthly Coding Hackathon
        meta(name="description", content="Cotoron is an experimental coding project started in Toronto with a group of friends. We start a new 30-day sprint project each month and repeat. Check out what we’re building and our journey!")
        link(rel="stylesheet", href='./css/cotoron.min.css') 
    body
        div.b1#one
            h1
                span.c2 C
                span.c3 O
                span.c2 T
                span.c3 O
                span.c2 R
                span.c3 O
                span.c2 N
                span.c4 .
                span.c3 GA
            div.stampcontainer
                h2.stamp.c3 since 2021
        div#two
        div#three
        div#four
        div#five
