// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Istok+Web&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap')

$fonta: 'Istok Web', sans-serif
$fontb: 'Nunito Sans', sans-serif

$colour1: #3F969C
$colour2: #B0D2C0
$colour3: #F0EBD8
$colour4: #E47E64
$colour5: #EEB35A

@import reset.sass

body
    text-rendering: optimizeLegibility
    height: 100%
.c1
    color: $colour1
.c2
    color: $colour2
.c3
    color: $colour3
.c4
    color: $colour4
.c5
    color: $colour5

.b1
    background-color: $colour1
.b2
    background-color: $colour2
.b3
    background-color: $colour3
.b4
    background-color: $colour4
.b5
    background-color: $colour5

a
    text-decoration: none
.pr
    float: right
nav
    padding: 30px 10px
    .logo
        font-size: 2.5rem
    ul
        list-style-type: none
        font-size: 2rem
    li
        display: inline-block
        padding: 0px 10px
        a:hover
            color: $colour5

.stampcontainer
    position: absolute
    top: 3rem
    left: 5rem

.stamp
    box-shadow: 0 0 0 3px $colour3, 0 0 0 2px $colour3 inset
    border: 2px solid transparent
    border-radius: 0px
    padding: 5px 2px
    line-height: .75em
    font-size: 1em
    text-transform: uppercase
    opacity: 0.2
    width: 80px
    transform: rotate(-7deg)
    font-family: $fontb
    text-align: center

.one
    background: linear-gradient(to bottom right, $colour1 50%, $colour2 50%)
.two
    background: linear-gradient(to bottom left, $colour2 50%, $colour3 50%)
.three
    background: linear-gradient(to bottom right, $colour3 50%, $colour4 50%)
.four
    background: linear-gradient(to bottom left, $colour4 50%, $colour5 50%)
.five
    background: linear-gradient(to bottom right, $colour5 50%, $colour1 50%)

.language
    font-size: 30vh
    text-align: center

.projects
    display: flex
    flex-flow: row wrap
    
.flexend
    justify-content: flex-end

.project
    height: 200px
    width: 300px
    margin: 30px
.w75
    max-width: 75vw
.flexcontainer
    display: flex
    flex-flow: row wrap
    align-items: center
.justifyCenter
    justify-content: center
.spaceBetween
    justify-content: space-between
#intro
    padding: 30px 10px
    min-height: 85vh
    p
        font-size: 1.3rem
h1
    font-size: 3rem