// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap')

$fonta: 'Alegreya Sans', sans-serif
$fontb: 'Nunito Sans', sans-serif

@import reset.sass

h1
    font-size: 3rem
    text-align: center
    margin-top: 33vh

h2
    font-family: $fontb
    font-size: 2rem
    text-align: center

.stamp
    box-shadow: 0 0 0 3px gray, 0 0 0 2px gray inset
    border: 2px solid transparent
    border-radius: 0px
    padding: 5px 2px
    line-height: 1em
    color: gray
    font-size: 2em
    text-transform: uppercase
    opacity: 0.4
    width: 155px
    transform: rotate(-7deg)

.stampcontainer
    width: 100%
    display: flex
    justify-content: center
